.Normal_text {font-family:'Arial Black';font-weight:900;font-style:normal;font-size:62.91pt;text-decoration:none;text-transform: none;color:#000000;letter-spacing:-0.008em;}
.Heading_1 {font-family:'Arial Black';font-weight:900;font-style:normal;font-size:91.72pt;text-decoration:none;text-transform: none;color:#FFFFFF;letter-spacing:0em;}
